<section class="content-header header-siadci">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Listado Videos</h1>
        </div>
        <div class="col-sm-6">
            <h3>Muestra los videos de operación del sistema</h3>
          </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content content-sidci">
    <!-- Default box -->
    <div class="container-fluid">
      <!-- <div class="siadci-content-wrapper pt-3"> -->
  
  
        <div class="siadci-content-wrapper">
          <!-- <div class="container-fluid"> -->
           
  
            <div style="height: 100px" >
                <br>
                <ol>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/1Home.mp4" target="_blank" >Home</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/2 DocumentoEntrada.mp4" target="_blank">Creación de Documento de Entrada</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/3Turno.mp4" target="_blank">Creación de Turno</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/4Responderturno.mp4" target="_blank">Responder un Turno</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/5ResponderAsistente.mp4" target="_blank">Creación de Documento Respuesta</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/6AutorizarRespuesta.mp4" target="_blank">Autorizar un Documento</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/7DocumentoSalida.mp4" target="_blank">Creación de un Documento de Salida</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/8ListadoAsistenteFuncionarios.mp4" target="_blank">Administración de Asistentes de Funcionarios</a></h3></li>
                    <li><h3> <a href="http://siadci.veracruz.gob.mx/recursos/9 reportes.mp4" target="_blank">Generación de Reporte</a></h3></li>

                </ol>
             </div>
  
    
  
            <!-- /.row -->
          <!-- </div> -->
        </div>
        <!-- /.siadci-content-wrapper -->
      <!-- </div> -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
  